<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>Symptoms | Breast Cancer Prediction</title>

  <!-- links including fonts and third-party library -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
  <link rel="stylesheet" href="static/css/symptoms.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Courgette&display=swap">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,900&display=swap">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap">

  <!-- favicon  -->
  <link rel="icon" href="static/media/pink-ribbon-logo-png-transparent-719x899.ico" type="image/ico">
</head>
<body onload="loader()">

  <div id="loading"></div>
  
  <nav class="navbar navbar-expand-lg navbar-dark bg-pink">
    <div class="container-fluid">
        <a class="navbar-brand" href="./index.html">Breast Cancer Prediction</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/index">Home</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/symptoms">Symptoms</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/treat">Prediction</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/faq">FAQs</a>
          </li>
        </ul>
    </div>
  </nav>
  <br>

  <!-- content starts here -->
  <div class="container content">
    <h1 class="text-center">Symptoms</h1>
    <p class="text-center">Different people have different symptoms of breast cancer. Some people do not have any signs or symptoms at all.</p>
    <br>
    <div class="container">
    
      <p class="text-center">Here are some common symptoms that may indicate breast cancer:</p>
      <ul class="list-group">
        <li class="list-group-item">Swelling of the breast</li>
        <li class="list-group-item">Nipple inversion</li>
        <li class="list-group-item">Lump in the armpit</li>
        <li class="list-group-item">Lump in the breast</li>
        <li class="list-group-item">Bloody discharge from the nipple</li>
        <li class="list-group-item">Skin destruction or changes</li>
        <li class="list-group-item">Breast pain</li>
        <li class="list-group-item">Dimpled or puckered skin on the breast</li>
      </ul>
    </div>
  </div>
  <!-- content ends here -->

  <br>
  <!-- Site footer -->
  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6>About</h6>
          <p class="text-justify">This site is made for Prediction of Breast Cancer Using CT Scan Images. This website also serves the purpose of spreading awareness related to Breast Cancer.</p>
        </div>
        <div class="col-xs-6 col-md-3"></div>
        <div class="col-xs-6 col-md-3">
          <h6>Quick Links</h6>
          <ul class="footer-links">
            <li><a href="/index">Home <i class="fas fa-home"></i></a></li>
            <li><a href="/symptoms">Symptoms <i class="fas fa-stethoscope"></i></a></li>
            <li><a href="/treat">Treatment <i class="fas fa-hospital"></i></a></li>
            <li><a href="/faq">FAQs <i class="fas fa-comment-dots"></i></a></li>
          </ul>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p><a href="./index.html">Breast Cancer Prediction</a>.</p>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li><a target="_blank" class="facebook" href="https://www.facebook.com"><i class="fab fa-facebook"></i></a></li>
            <li><a target="_blank" class="instagram" href="https://www.instagram.com"><i class="fab fa-instagram"></i></a></li>
            <li><a target="_blank" class="linkedin" href="https://www.linkedin.com/in"><i class="fab fa-linkedin"></i></a></li>   
          </ul>
        </div>
      </div>
    </div>
  </footer>
  <!-- footer ends here -->

  <script>
      var preloader = document.getElementById("loading");
      function loader(){
        preloader.style.display = 'none';
      }
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
